[Unit]
Description="cyberhayq.am metax webserver vostan"
Documentation=https://cyberhayq.am
After=network.target sshd.service

[Service]
Type=simple
User=metax
Group=metax
WorkingDirectory=/opt/cyberhayq_webserver
Environment=NODE_OPTIONS=--tls-cipher-list='TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256'
StandardOutput=file:/opt/cyberhayq_webserver/logs/systemd_out.log
StandardError=file:/opt/cyberhayq_webserver/logs/systemd_err.log
#ExecStartPre=/bin/bash -c 'cd logs && tar -czvf systemd_logs_archive/$$(date +%%Y-%%m-%%d_%%H-%%M-%%S).log.tar.gz ./systemd_*.log && rm ./systemd_*.log'
ExecStart=/opt/cyberhayq_webserver/start_server.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
